@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}

.mainContent {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

//---------------------------------------------- Header
.header {
    width: 99vw;
    position: absolute;
    margin: 1vh;
    height: 7vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.contHead {
    margin: auto;
    width: auto;
    height: 10vh;
    display: flex;
}

.logo {
    height: 9vh;
    width: auto;
    margin-left: 48vw;
    margin-top: 1vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-size: 80%;
}

//------------------------------------- Menu Izq
.divMenu {
    float: left;
    height: 90vh;
    width: 20vw;
    margin-top: 9vh;
    margin-left: 0.5vw;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

//--------------- Botones
.divBtnsMenu {
    margin-top: 10vh;
}

.btnHome {
    width: 16vw;
    height: 9vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 4px solid #4e54c8;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.5vw;
    color: #4e54c8;
}

.btn-menu {
    width: 16vw;
    height: 9vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 4px solid #fff;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.5vw;
    color: #ffffff;
}

//---------------------nameProfe
.divNameProfe {
    width: 20vw;
    height: 5vh;
}

.h1NameProfe {
    text-align: center;
    color: #4e54c8;
}

//-------------------------------------- Contenido
.divContenido {
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    height: 90vh;
    width: 78vw;
    margin-top: 9vh;
    margin-left: 1vw;
    border-radius: 1rem;
}

//----------titulo cont
.divTitulo {
    margin: auto;
    width: 78vw;
    height: 5vh;
    padding-top: 5vh;
    display: block;
}

.h1Class {
    font-size: 3vh;
    text-align: center;
}

.h1School {
    font-size: 2vh;
    text-align: center;
}

//----------mis 
.divSelectMis {
    display: grid;
    margin-top: 13vh;
}

.SelectGame {
    margin: auto;
    width: auto;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
}

.h1TipoMis {
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.h1Recompensa {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    margin-right: 5vw;
}

.imgGameOne {
    background-color: white;
    border-radius: 1rem;
    height: 12vh;
    margin: 1vw;
}

.imgGameTwo {
    background-color: white;
    border-radius: 1rem;
    height: 12vh;
    margin: 1vw;
}

.imgGameThree {
    background-color: white;
    border-radius: 1rem;
    height: 12vh;
    margin: 1vw;
}

.divCoins {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCoins {
    height: 8vh;
    width: 20vw;
    border-radius: 1rem;
    margin-right: 8vw;
    outline: none;
    border: 4px solid #4e54c8;
    color: #ff9900;
    font-size: 4vh;
    margin-top: 1vh;
    text-align: center;
}

input:focus {
    outline: none;
}

.coin {
    object-fit: cover;
    height: 9vh;
    width: 5vw;
    margin-bottom: 3vh;
}

.btnGame {
    background-color: transparent;
}

//----------table
.thtabla {
    font-size: 3vh;
    height: 6vh;
    color: #4e54c8;
    background-color: rgba(255, 255, 255, 0.7);
}

.thLeft {
    font-size: 3vh;
    height: 6vh;
    color: #4e54c8;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.thRight {
    font-size: 3vh;
    height: 6vh;
    color: #4e54c8;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tdLefttabla {
    font-size: 2vh;
    text-align: center;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.tdRigthtabla {
    font-size: 2vh;
    text-align: center;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tdtabla {
    font-size: 2vh;
    text-align: center;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.btnBorrar {
    height: 3vh;
    width: 1.5vw;
    font-size: 2vh;
    color: white;
    border-radius: 50%;
    background-color: rgb(238, 111, 111);
    border: 2px solid #fff;
}

table {
    width: 100%;
}

.divTable {
    overflow: scroll;
    max-height: 40vh;
    width: 68vw;
    margin: auto;
}

//-----btns submit
.divBtnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSubmit {
    height: 5vh;
    width: 10vw;
    border-radius: 1rem;
    border: 3px solid #4e54c8;
    font-size: 3vh;
    color: #4e54c8;
    margin: .5vw;
}

.btnSubmit:active {
    height: 4vh;
    width: 9vw;
    background-color: #4e54c8;
    color: #fff;
    border: 3px solid #fff;
    margin-right: 1.5vw;
}

.btnClean {
    height: 5vh;
    width: 10vw;
    border-radius: 1rem;
    border: 3px solid #4e54c8;
    font-size: 3vh;
    color: #4e54c8;
    margin: .5vw;
}

.btnClean:active {
    height: 4vh;
    width: 9vw;
    background-color: #4e54c8;
    color: #fff;
    border: 3px solid #fff;
    margin-left: 1.5vw;
}

button:focus {
    outline: none;
}

//-------------------------------------- Fondo
.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: static;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}