@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}

.mainContent {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

//---------------------------------------------- Header
.header {
    width: 99vw;
    position: absolute;
    margin: 1vh;
    height: 7vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.contHead {
    margin: auto;
    width: auto;
    height: 10vh;
    display: flex;
}

.logo {
    height: 9vh;
    width: auto;
    margin-left: 48vw;
    margin-top: 1vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-size: 80%;
}

//------------------------------------- Menu Izq
.divMenu {
    float: left;
    height: 91vh;
    width: 20vw;
    margin-top: 8vh;
    margin-left: 0.5vw;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

//------------------------------------- Registro
.divTituloReg {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

.h1TituloReg {
    text-align: center;
    color: #4e54c8;
}

.divImputReg {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1vh;
    margin: auto;
    width: 15vw;
}

.inputReg {
    width: 13vw;
    height: 5vh;
    margin: 1vh;
    border: none;
    border-radius: 1rem;
}

.divBtnRegister {
    margin: auto;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 15vw;
    height: 5vh;
}

.btnSubmit {
    margin: auto;
    border-radius: 1rem;
    width: 7.5vw;
    height: 5vh;
    background-color: rgb(0, 248, 153);
    color: #4e54c8;
    font-size: 2vh;
}

.btnBack {
    margin: auto;
    border-radius: 1rem;
    width: 7.5vw;
    height: 5vh;
    background-color: rgb(255, 124, 124);
    color: #ffffff;
    font-size: 2vh;
}

//-------------------------------------- Contenido
.divContenido {
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    height: 90vh;
    width: 78vw;
    margin-top: 9vh;
    margin-left: 1vw;
    border-radius: 1rem;
}

.imgAdd {
    margin-left: 6vw;
    margin-top: 11vh;
    border-radius: 4rem;
}

//-------------------------------------- Fondo
.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: static;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}