<div class="mainContent">
    <div class="header">
        <div class="contHead">
            <img src="https://firebasestorage.googleapis.com/v0/b/addventure-81611.appspot.com/o/logo%20Addventure-morado.png?alt=media&token=89e904d3-2d97-444e-9295-0bf73b7b8381" alt="" class="logo">
        </div>
    </div>
    <div class="divMenu">
        <div class="divBtnsMenu">
            <div class="divNameProfe" *ngFor="let usuario of arUser">
                <h1 class="h1NameProfe">Profesor: {{usuario.name}} {{usuario.lastname}}</h1>
            </div>
            <button class="btn-menu" [routerLink]="['/home']">Inicio</button>
            <button class="btn-menu" [routerLink]="['/alumnos']">Alumnos</button>
            <button class="btn-menu" [routerLink]="['/misiones']">Misiones</button>
            <button class="btnHome" [routerLink]="['/recompensas']">Recompensas</button>
            <button class="btn-menu" [routerLink]="['/addgametres']">Agregar Quiz</button>
            <button class="btn-menu" [routerLink]="['/graficos']">Información</button>
        </div>
    </div>
    <div class="divContenido">
        <div class="divTitulo" *ngFor="let usuario of arUser">
            <h1 class="h1Class">{{usuario.curso}}</h1>
            <h1 class="h1School">{{usuario.school}}</h1>
        </div>
        <h1 class="h1Recomp">Ingrese Recompensa</h1>
        <div class="divInputRe">
            <input type="text" class="inputRec" [(ngModel)]="inputRec">
        </div>
        <h1 class="h1Recomp">Ingrese coste en Monedas</h1>
        <div class="divInputRe">
            <input type="number" class="inputRec" [(ngModel)]="inputCoins">
        </div>
        <div class="divBtnSubmit">
            <button class="btnSubmit" (click)="fnFilterMis()">Agregar</button>
            <button class="btnClean" (click)="fnBtnClin()">Limpiar</button>
        </div>

        <div class="divTable">
            <table>
              <tr>
                <th class="thLeft">Alumnos</th>
                <th class="thtabla">Recompensa</th>
                <th class="thtabla">Coins</th>
                <th class="thtabla">Estado</th>
                <th class="thRight">Eliminar</th>
              </tr>
              <tr *ngFor="let recompensas of arRecomp" >
                <td class="tdLefttabla">{{recompensas.name}} {{recompensas.lastname}}</td>
                <td class="tdtabla">{{recompensas.recomp}}</td>
                <td class="tdtabla" >{{recompensas.coins}}</td>
                <td class="tdtabla" ><img src="assets/img/{{recompensas.estado}}.png" alt="." class="imgestado" style="height: 3.5vh;"></td>
                <td class="tdRigthtabla"><button class="btnBorrar" (click)="fnDeletRec(recompensas)">X</button></td>
              </tr>
            </table>
          </div>

    </div>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>